<footer>
  <div class="w-full bg-orange-600">
    <div class="flex flex-wrap text-center text-white">
      <!-- ABOUT COLUMN -->
      <div class="w-full md:w-1/3 p-6 border-r border-white md:text-left">
        <div class="my-4 ml-3 text-xl font-semibold">Eduabin</div>
        <p class="p-3 text-white">
          Acerca de nosostros.
        </p>
       <!--  <p class="p-3 text-white">
          FAQ.
        </p>
        <p class="p-3 text-white">
          Socios.
        </p> -->
      </div>
      <!-- CONTACTS COLUMN -->
      <div class="w-full md:w-1/3 p-8 border-r border-white">
        <div class="my-6 text-xl font-semibold">Quieres mas informacion de nosotros? </div>
        <!-- <p class="mt-8 text-gray-400">
          A108 Adam Street <br />
          New York, NY 535022 <br />
          United States <br />
          <strong>Phone:</strong> +1 5589 55488 55 <br />
          <strong>Email:</strong> info@funtravel.com
        </p>

        <div class="flex justify-center">
          <div class="text-gray-800 text-center -300 px-4 py-2 m-2"><i style="background-color: #3B5998;"
              class="flex items-center justify-center h-12 w-12 mx-1 rounded-full fab fill-current text-white text-xl fa-facebook-f"></i>
          </div>
          <div class="text-gray-800 text-center -300 px-4 py-2 m-2"><i style="background-color:#dd4b39"
              class="flex items-center justify-center h-12 w-12 mx-1 rounded-full fas fill-current text-white text-xl fa-envelope"></i>
          </div>
          <div class="text-gray-800 text-center -300 px-4 py-2 m-2"><i style="background-color:#55ACEE;"
              class="flex items-center justify-center h-12 w-12 mx-1 rounded-full fab fill-current text-white text-xl fa-twitter"></i>
          </div>
        </div>
 -->



      </div>

      <!-- FORM COLUMN -->

      <div class="w-full md:w-1/3 p-6">
        <div class="mt-6 text-xl font-semibold">Contactanos</div>
        <!-- <form class="w-4/5 mx-auto mt-2 px-6 pt-6 pb-4 rounded-lg">
          <div class="flex items-center mb-1">
            <p>Nombres y Apellidos:</p>
          </div>
          <div class="flex items-center mb-4">
            <input
              class="w-full h-10 p-2 border-b border-orange-nec opacity-50 rounded-lg border-blue-800 bg-blue-900 text-white"
              type="text" placeholder="Ingresa tus nombres y apellidos" />
          </div>
          <div class="flex items-center mb-1">
            <p>Correo Electronico:</p>
          </div>
          <div class="flex items-center mb-4">
            <input class="w-full h-10 p-2 opacity-50 rounded-lg border-b border-orange-nec bg-blue-900 text-white"
              type="text" placeholder="Ingresa tu email de contacto" />
          </div>
          <div class="flex items-center mb-1">
            <p>Ingresa tu mensaje:</p>
          </div>
          <div class="mb-5">
            <textarea
              class="w-full h-24 px-2 pt-2 rounded-lg border-b-2 border-orange-nec opacity-50 border-blue-800 bg-blue-900 text-white"
              placeholder="Escribe tu mensaje..."></textarea>
          </div>
          <div class="flex justify-between items-center">
            <button class="w-full py-2 px-4 rounded-lg bg-blue-500 hover:bg-blue-700 text-white font-bold"
              type="button">
              Enviar
            </button>
          </div>
        </form> -->
      </div>
    </div>
    <div class="py-16 flex flex-col justify-center items-center">
      <a class="focus:outline-none" tabindex="0" role="link" aria-label="home link" href="javascript:void(0)">
        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg7.svg" alt="tuk logo">
        <img class="dark:block hidden" src="" alt="tuk logo">
      </a>
      <p tabindex="0"
        class="focus:outline-none mt-7 text-xs lg:text-sm leading-none text-gray-900 text-white:text-gray-50">2022 Abin
        Incubator. Todos los derechos reservados.</p>
    </div>
  </div>

</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./js/web.js"></script>
</body>

</html>